table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  font-family: arial, sans-serif;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}